
    <ul>
        <li> 글 작성하기</li>
        <li> 제목: <input type= "text" subject="subject"></li>
        <li> 작성자: <input type= "text" writer="writer"></li>
        <li> 내용 <br>
            <textarea writer="memo" cols="50" rows="10"></textarea></li>
    </ul>
